<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prisoncrush.api.character.CharacterDAO">

	<resultMap id="UserCharacters" type="com.prisoncrush.api.model.UserCharacter">
		<id property="userId" column="userId"/>
		<id property="characterId" column="characterId"/>
		<result property="story" column="story"/>
		<result property="imageUrl" column="imageUrl"/>
		<result property="tier" column="tier"/>
		<collection property="skills" column="{userId=userId,characterId=characterId}" javaType="java.util.ArrayList" ofType="java.lang.String" select="selectUserCharacterSkills"/>
	</resultMap>

    <insert id="insertUserCharacter">
		INSERT INTO tb_user_character_map (
      	user_id,
      	character_id,
      	regist_ymdt,
      	modify_ymdt
      	)
      	SELECT
      	usr.user_id,
      	chr.character_id,
      	NOW(),
      	NOW()
      	FROM
      	tb_user usr, tb_character chr
      	WHERE
      	usr.user_id = #{userId}
      	AND
      	chr.character_id = #{characterId}
    </insert>

	<select id="selectUserCharacters" resultMap="UserCharacters">
		SELECT
		map.user_id AS userId,
		chr.character_id AS characterId,
		chr.story AS story,
		chr.image_url AS imageUrl,
		chr.tier AS tier
		FROM
		tb_user_character_map map, tb_character chr
		WHERE
		map.user_id = #{userId}
		AND
		chr.character_id = map.character_id
	</select>

	<select id="selectUserCharacterSkills">
		SELECT
		sk.skill_id AS skillId,
		FROM
		tb_user_character_skill_map map, tb_skill sk
		WHERE
		map.user_id = #{userId}
		AND
		map.character_id = #{characterId}
		AND
		sk.skill_id = map.skill_id
	</select>

	<delete id="deleteUserCharacter">
		DELETE FROM tb_user_character_map
        WHERE user_id = #{userId}
        AND character_id = #{characterId}
	</delete>

	<delete id="deleteUserCharacterSkills">
		DELETE FROM tb_user_character_skill_map
		WHERE user_id = #{userId}
        AND character_id = #{characterId}
	</delete>

	<delete id="deleteUserCharacterSkill">
		DELETE FROM tb_user_character_skill_map
		WHERE user_id = #{userId}
		AND character_id = #{characterId}
		AND skill_id = #{skillId}
	</delete>

	<insert id="insertUserCharacterSkill">
		INSERT tb_user_character_skill_map (
		user_id,
		character_id,
		skill_id,
		regist_ymdt,
		modify_ymdt
		) VALUES (
		#{userId},
		#{characterId},
		#{skillId},
		NOW(),
		NOW()
		)
	</insert>
</mapper>