<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prisoncrush.api.rank.RankDAO">

    <insert id="insertUserRank">
		INSERT INTO tb_rank (
      	user_id,
      	score,
      	regist_ymdt
      	)
      	VALUES
      	(
      	#{userId},
      	#{score},
      	NOW()
      	)
    </insert>

	<select id="selectRanks" resultType="com.prisoncrush.api.model.Rank">
		SELECT
		score AS score,
		user_id AS userId,
		regist_ymdt AS registYmdt
		FROM
		tb_rank
	  	ORDER BY
	  	score DESC
	  	LIMIT
	  	${offset}, ${limit}
	</select>

	<update id="updateUserScore">
		UPDATE tb_user
		SET max_score = #{score}
		WHERE user_id = #{userId}
		AND (max_score <![CDATA[<]]> #{score} OR max_score IS NULL)
	</update>
</mapper>