<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prisoncrush.api.user.UserDAO">

    <insert id="insertUser">
        INSERT INTO tb_user (
        user_id,
        coin,
        prison_key,
        regist_ymdt,
        modify_ymdt
        ) VALUES (
        #{userId},
        0,
        0,
        NOW(),
        NOW()
        )
    </insert>

    <select id="selectUser" resultType="com.prisoncrush.api.model.User">
        SELECT
        user_id AS userId,
        coin AS coin,
        prison_key AS prisonKey
        FROM
        tb_user
        WHERE
        user_id = #{userId}
    </select>

    <delete id="deleteUser">
        delete FROM tb_user
        WHERE user_id = #{userId}
    </delete>

    <select id="updateUser">
        update tb_user
        SET
        <if test="coin != null">
            coin = #{coin},
        </if>
        <if test="prisonKey != null">
            prison_key = #{prisonKey},
        </if>
        modify_ymdt = NOW()
        WHERE
        user_id = #{userId}
    </select>
</mapper>