<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prisoncrush.api.weapon.WeaponDAO">
    <insert id="insertUserWeapon">
        INSERT INTO tb_user_weapon (
        user_id,
        weapon_id,
        damage_level,
        critical_level,
        probability_level,
        regist_ymdt,
        modify_ymdt
        )
        VALUES
        (
        #{userId},
        #{weaponId},
        1,
        1,
        1,
        NOW(),
        NOW()
        )
    </insert>

    <select id="selectUserWeapons" resultType="com.prisoncrush.api.model.UserWeapon">
        SELECT
        user_id AS userid,
        weapon_id AS weaponId,
        damage_level AS damageLevel,
        critical_level AS criticalLevel,
        probability_level AS probabilityLevel
        FROM
        tb_user_weapon_map
        WHERE
        user_id = #{userId}
    </select>

    <delete id="deleteUserWeapon">
        delete FROM tb_user_weapon_map
        WHERE user_id = #{userId}
        AND weapon_id = #{weaponId}
    </delete>

    <select id="updateUserWeapon" parameterType="com.prisoncrush.api.model.UserWeapon">
        update tb_user_weapon_map
        SET
        <if test="userWeapon.damageLevel != null">
            damage_level = #{userWeapon.damageLevel},
        </if>
        <if test="userWeapon.criticalLevel != null">
            critical_level = #{userWeapon.criticalLevel},
        </if>
        <if test="userWeapon.probabilityLevel != null">
            probability_level = #{userWeapon.probabilityLevel},
        </if>
        modify_ymdt = NOW()
        WHERE
        user_id = #{userId}
        AND
        weapon_id = #{weapon.weaponId}
    </select>
</mapper>